@import 'colors';

.question {
  background-color: #fff;
  padding: 2em;
  width: 90%;
  max-width: 360px;
  margin: 2em auto;
  border-radius: 8px;
}

.score {
  background-color: #fff;
  padding: 2em;
  width: 90%;
  max-width: 480px;
  margin: 2em auto;
  border-radius: 8px;

  h2 {
    margin-bottom: 0.5em;
  }
}

.options-group {
  list-style: upper-alpha inside;
}

.option {
  display: block;
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 0.8em 1.6em;
  border-radius: 100px;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  position: relative;
  background: #ffffff;

  &:hover {
    background-color: $blue-primary;
    color: $white;
  }
}

.option.option-selected {
  background-color: $blue-primary;
  color: white;
}

.option.option-correct {
  background-color: #0a950a;
  color: #fff;
}

.option.ans {
  cursor: initial;

  &:hover {
    background-color: #fff;
    color: $blue-primary;
  }
}

input {
  display: none;
}

.btn-group {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;

  .btn {
    display: block;
    width: 100%;
    color: #fff;
    padding: 0.4em 2em;
    border-radius: 100px;
    border: 1px solid;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &__primary {
      background-color: $blue-primary;
      border-color: $blue-primary;

      &:hover {
        background-color: $blue-primary-hover;
      }
    }
    &__secondary {
      color: $blue-primary;
      background-color: $white;
      border-color: $blue-primary;

      &:hover {
        background-color: $blue-primary-hover;
        color: $white-secondary;
      }
    }
  }
}

code {
  display: block;
  background-color: rgb(227, 227, 227);
  font-size: 14px;
  font-weight: normal;
  font-family: monospace;
  padding: 8px 12px;
  margin: 10px 0;
  border-radius: 6px;
}

.questions_not_found {
  max-width: 480px;
  background-color: #fff;
  border-radius: 8px;
  padding: 2em;
  margin: 10em auto;
}
