@import 'colors';

.status-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.status {
  border: 2px solid white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;

  &__checked {
    background-color: #fff;
    color: $blue-primary;
  }

  &__unchecked {
    background-color: transparent;
    color: #fff;
  }
}
